<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Notification</title>
  </head>
  <body>
    <h2 class="">Email Notification</h2>

    <p class="">
      A user with name <%= fullName %> has requested to apply for the <%= course
      %> course.
    </p>

    <p class="">Rulerise &copy;</p>
  </body>
</html>
