<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration successful</title>
  </head>
  <body>
    <h2 class="">Your payment is complete, and registration is successful.</h2>

    <p class="">
      Great news — we have successfully received your payment for the <%= course
      %> course at Rulerise and you have been successfully registered. You're
      all set!
    </p>

    <div class="">
      <span class="">
        <p class="">Amount Paid</p>
        <p class=""><%= amount %></p>
      </span>
      <span class="">
        <p class="">Payment Date</p>
        <p class=""><%= date %></p></span
      >
    </div>

    <p class="">
      Please head over to our
      <a href="https://rulerise.com" class="">website</a>
    </p>

    <h3 class="">WE'RE JUST A CALL OR CLICK AWAY!</h3>

    <p class="">
      Any time you have questions or need assistance, we're happy to help! Here
      are a few ways to reach us:
    </p>

    <ul class="">
      <ol class="">
        Message with us via our
        <a href="https://rulerise.com" class="">website</a>
      </ol>
      <ol class="">
        <a href="mailto:support@rulerise.com" class="">Email us</a>
      </ol>
    </ul>

    <p class="">Rulerise &copy;</p>
  </body>
</html>
