<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment failed</title>
  </head>
  <body>
    <p class="">Payment for <%= course %> failed.</p>
    <p class="">Date is <%= date %></p>
    <p class="">Price is <%= amount %></p>
  </body>
</html>
