<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talent Notification</title>
  </head>
  <body>
    <h2 class="">Email Notification</h2>

    <p class="">
      A user with name <%= contact.fullName %> has contacted Rulerise support.
    </p>

    <p class="">Email: <%= contact.email %>.</p>

    <p class="">Request: <%= contact.request %></p>

    <p class="">Rulerise &copy;</p>
  </body>
</html>
